$padding: 8px;
$margin: 8px;

@font-face {
  font-family: 'AnyConv.com__PFBeauSansPro-Black';
  src: url('../fonts/AnyConv.com__PFBeauSansPro-Black.woff');
}
@font-face {
  font-family: 'AnyConv.com__PFBeauSansPro-BlackItal';
  src: url('../fonts/AnyConv.com__PFBeauSansPro-BlackItal.woff');
}
@font-face {
  font-family: 'AnyConv.com__PFBeauSansPro-Bold';
  src: url('../fonts/AnyConv.com__PFBeauSansPro-Bold.woff');
}
@font-face {
  font-family: 'AnyConv.com__PFBeauSansPro-BoldItalic';
  src: url('../fonts/AnyConv.com__PFBeauSansPro-BoldItalic.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-Book';
src: url('../fonts/AnyConv.com__PFBeauSansPro-Book.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-BookItalic';
src: url('../fonts/AnyConv.com__PFBeauSansPro-BookItalic.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-Italic';
src: url('../fonts/AnyConv.com__PFBeauSansPro-Italic.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-Light';
src: url('../fonts/AnyConv.com__PFBeauSansPro-Light.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-LightItal';
src: url('../fonts/AnyConv.com__PFBeauSansPro-LightItal.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-Reg';
src: url('../fonts/AnyConv.com__PFBeauSansPro-Reg.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-SeBold';
src: url('../fonts/AnyConv.com__PFBeauSansPro-SeBold.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-SeBoldItal';
src: url('../fonts/AnyConv.com__PFBeauSansPro-SeBoldItal.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-Thin';
src: url('../fonts/AnyConv.com__PFBeauSansPro-Thin.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-ThinItal';
src: url('../fonts/AnyConv.com__PFBeauSansPro-ThinItal.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-XThin';
src: url('../fonts/AnyConv.com__PFBeauSansPro-XThin.woff');
}
@font-face {
font-family: 'AnyConv.com__PFBeauSansPro-XThin';
src: url('../fonts/AnyConv.com__PFBeauSansPro-XThin.woff');
}